@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container{
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 8px;
}
.timerButtonContainer , .watchButtonContainer , .top{
    height: 20%;
}
.timerResult{
    height: 60%;
    display: flex;
    align-items: end;
    padding-left: 20px;
    gap: 10px;
}
.timerResult p , .stopWatchResult p{
    font-size: 60px;
    font-weight: 500;
}
.minute{
    font-size: 32px;
    color: #9ea0a3;
}
.stopWatchResult p:last-child{
    font-size: 40px;
    font-weight: 400;
}
.stopWatchResult{
    height: 60%;
    display: none;
    align-items: end;
    padding-left: 20px;
    gap: 10px;
}
.top{
    display: flex;
}
#timer , #stopWatch{
    width: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 35px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    justify-content: center;
    
}
#stopWatch:hover , #timer:hover{
    color: #0F69FF;
}
.stopWatch{
    font-weight: 400;
}
.border{
    border-bottom: 3px solid #232A31;
}
#timerResetBtn , #watchResetBtn{
    font-weight: 600;
    padding: 5px 20px;
    font-size: 20px;
    color: #B0B9C4;
    border: none;
    width: 160px;
    border-radius: 38px;
}
.timerButtonContainer , .watchButtonContainer{
    padding: 10px 20px;
    display: flex;
    gap: 20px;
}
.watchButtonContainer{
    display: none;
}
button{
    cursor: pointer;
}
#watchSec{
    font-size: 60px;
    font-weight: 600;
}
#timerBtn , #watchBtn{
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #0F69FF;
    padding: 5px 20px;
    font-size: 22px;
    color: #fff;
    border: none;
    width: 160px;
    border-radius: 38px;
    font-weight: 600
}   
#timerBtn>span{
    position: absolute;
    left: 5px;
}